apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: $PREFIXED_NAME
  namespace: openshift-monitoring
  labels:
    name: $PREFIXED_NAME
spec:
  selector:
    matchLabels:
      name: $PREFIXED_NAME
  template:
    metadata:
      name: $PREFIXED_NAME
      labels:
        name: $PREFIXED_NAME
    spec:
      automountServiceAccountToken: false
      containers:
      - name: "main"
        command: [ "/bin/sh", "/monitor/start.sh" ]
        workingDir: /monitor
        ports:
        - containerPort: 8080
          protocol: "TCP"
        image: $MAIN_IMAGE
        env:
        - name: PYTHONPATH
          value: /openshift-python/packages:/support/packages
        imagePullPolicy: IfNotPresent
        livenessProbe:
          failureThreshold: 2
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 420
          periodSeconds: 360
          timeoutSeconds: 240
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 3
          timeoutSeconds: 240
        securityContext:
          capabilities:
            drop: ["ALL"]
          readOnlyRootFilesystem: true
          runAsNonRoot: true
        volumeMounts:
        - name: monitor-volume
          mountPath: /monitor
          readOnly: true
        - mountPath: /etc/pki/ca-trust/extracted/pem
          name: trusted-ca-bundle
          readOnly: true
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      serviceAccountName: $SERVICEACCOUNT_NAME
      tolerations:
      - operator: Exists
      volumes:
      - name: monitor-volume
        configMap:
          name: $SOURCE_CONFIGMAP_NAME
      - name: trusted-ca-bundle
        configMap:
          defaultMode: 420
          items:
            - key: ca-bundle.crt
              path: tls-ca-bundle.pem
          name: $PREFIXED_NAME-trusted-ca-bundle

